@charset "utf-8";
/* CSS Document */
body{
	background-image:url(img/bgc.gif);
	display:flex;
	display:-webkit-flex;
	align-items:center;
}
.center{ 
  height:400px;
  width:600px;
  color:#FF0; 
  margin:10% auto 10% auto;
}

